@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('./alerts.css');
@import url('./update_profile.css');
*{font-family: 'Libre Baskerville', serif;}

body {
    background: url("../images/signup-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.opacity-8{
    opacity: 0.8;
}
text-center{
    text-align: center;
}
.mg-5-auto{
    margin: 5px auto;
}
.no-outline{
    outline: none;
}

.height-20{
    height: 25px !important;
    max-height: 25px !important;
    overflow: hidden;
}
.height-50{
    height: 50px !important;
    max-height: 50px !important;
    overflow: hidden;
}

.card-button{
    text-align: center;
}
.card-button a{
    margin: 5px 0px;
    font-size: 15px !important;
}

.displayMeetingHeader h1, h2{
    word-break: break-all;
    font-size: 18px;
    color: black;
    text-shadow: none;
    margin: 5px auto;
    text-align: left;
}
.displayMeetingAttendieEmail{
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    word-break: break-all;
    margin: 5px;
}
.mg-10{
    margin: 10px;
}






